body {
    background-color: #6633CC;
}

.table{
    text-align: left;
    margin-left:200px;
    margin-top: 200px;
    background-color: #D8D8D8;
    width: 800px;
    height: 250px;
}

.title{
    padding-left:280px;
    padding-top:50px;
    font-size: 200%;
    font-weight: bold;
}

.search{
    padding-left: 180px;
}

.button{
    padding-top: 30px;
    padding-left: 260px;
}

.buttonInside{
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
}

.buttonInside2{
    margin-left: 40px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
}

.border{
    text-align: left;
    margin-left:200px;
    margin-top: 20px;
    width: 800px;
}

.nav button{
    text-align: left;
    background-color: #D8D8D8;
    border: 1px solid #D8D8D8;
    color: Black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.nav:after {
  content: "";
  clear: both;
  display: table;
}
.nav:not(:last-child) {
  border-right: none;
}
.nav button:hover {
  background-color: gray;
}
.table2 {
    text-align: left;
    margin-left:200px;
    margin-top: 20px;
    background-color: #D8D8D8;
    width: 800px;
}

.chosen{
    background-color: #7a7a7a;
    color: #eeeeee;
}

.chosen:hover {
    background-color: #7a7a7a;
    color: #eeeeee;
}

/*3*/
.table3 {
    text-align: left;
    margin-left:200px;
    margin-top: 30px;
    background-color: white;
    width: 800px;
}

/*1*/
.table4{
    width:800px;
    border-collapse: collapse;
    text-align: left;
    margin-left:200px;
    background-color: white;
}

.td1{
    background-color: #7a7a7a;
    border: 1px solid gray;
    word-break: keep-all;
    white-space: nowrap;
}

.td2{
    text-align: center;
    border: 1px solid gray;
}

.td3{
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    border: 1px solid gray;
}

/*2*/

.summaryTable{
    width:800px;
    border-collapse: collapse;
    text-align: left;
    margin-left:200px;
    background-color: white;
}

.fix{
    border: 1px solid gray;
    background-color: #7a7a7a;
}

.fix2{
     border: 1px solid gray;
    text-align: center;
}


/*4*/

.card{
    text-align: left;
    margin-left:200px;
    margin-top: 20px;
    background-color: #D8D8D8;
    width: 800px;
    height: 100px;
    padding: 5px;
    overflow: hidden;
}

.card img{
    width: 90px;
    height: 90px;
    object-fit:cover;
    padding: 5px;
}

.card .left{
    display: inline-block;
    height: 70px;
    width: 70px;
    vertical-align:top;
}

.card .right{
    text-align: left;
    display: inline-block;
    padding-left: 30px;
    vertical-align:top;

}

.card .right .title1{
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 80%;
}

.card .right .date1{
    margin-left: 5px;
    font-size: 80%;
}

.card .right .post1{
    margin-left: 5px;
    font-size: 80%;
}

.ep{
    text-align: center;
}

#outlook{
    background-color: #7a7a7a;
}


#h1{
    display: inline-block;
}
#h2{
    display: none;
}
#h3{
    display: none;
}
#h4{
    display: none;
}
