<div *ngIf="showSpinner" style = "margin-left: 40%;margin-top:10%">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!showSpinner" class="container">
  <div *ngIf="showalert">
    <div class="alert alert-warning" role="alert">
      Currently you don't have any stock in your watchlist.
    </div>
  </div>

  <div *ngIf="!showalert ">
    <p class = "title">My Watchlist</p>
    <div *ngFor="let n of ans" class = "container" style="margin-left:0;margin-right:0;">

        <mat-card *ngIf="n[5]" style="margin-top:15px;border-color: lightgrey">
          <mat-card-content>
            <div class = "row">
              <div class = "col" style = "text-align:right">
                <button type="button" class="close" aria-label="Close" (click)="delete(n[0]);n[5]=false" style = "text-align:right">
                  <span aria-hidden="true" style = "font-size: 70%;text-align:right">×</span>
                </button>
              </div>
            </div>
            <a routerLink="/detail/{{n[0]}}" style="color: black;">
              <div class = "row">
                <div class = "col">
                  <p style = "font-weight: bold; display:inline;text-align:left;font-size:150%;word-break:break-all">{{n[0]}}</p>
                </div>
                <div class = "col">
                  <div style = "float:right">
                    <span *ngIf="n[3]>0" style = "color: green; float:right;font-size: 150%;font-weight: bold;" >{{n[2]}}</span>
                    <span *ngIf="n[3]==0" style = "float:right;font-size: 150%;font-weight: bold;" >{{n[2]}}</span>
                    <span *ngIf="n[3]<0" style = "color: red;float:right;font-size: 150%;font-weight: bold;" >{{n[2]}}</span>
                  </div>
                </div>
              </div>

              <div class = "row">
                <div class = "col">
                  <p style = "display:inline;text-align:left;word-break:break-all">{{n[1]}}</p>
                </div>
                <div class = "col">
                  <div style = "float:right">
              <span *ngIf="n[3]>0" style = "color: green; float:right;font-size: 100%;" ><svg width="0.8em" color = "green"height="0.8em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
  </svg>{{n[3]}}({{n[4]}}%)</span>
                    <span *ngIf="n[3]==0" style = "float:right;font-size: 100%" >{{n[3]}}({{n[4]}}%)</span>
                    <span *ngIf="n[3]<0" style = "color: red;float:right;font-size: 100%" ><svg width="0.8em" color="red" height="0.8em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
  </svg>{{n[3]}}({{n[4]}}%)</span>
                  </div>
                </div>
              </div>
            </a>
          </mat-card-content>

        </mat-card>


    </div>

  </div>

</div>
